{% extends 'base.html' %}

{% load static %}

{% block title %} home {% endblock %}

{% block content %}

    <section class="container-fluid">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="http://127.0.0.1:8000/media/blog/images/monitoring.jpg" class="d-block w-100" style="height: 460px;">
                    <div class="carousel-caption d-none d-md-block">
                        <h1><b>Monitoring and Evaluation</b></h1>
                        <h4>Our team of experts provides high quality solutions for clients with some of the most challenging
                            monitoring and evaluation objectives. Monitoring and evaluation solutions provided by our experts include
                            actionable recommendations that are applicable to the particular developing country context.
                            Our team of experts has extensive experience of applying the most up to date international… </h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="http://127.0.0.1:8000/media/blog/images/Health.jpg" class="d-block w-100" style="height: 460px;">
                    <div class="carousel-caption d-none d-md-block">
                        <h1><b>Health; Education | Systems</b></h1>
                        <h4>Developing health systems have challenges in all the 6 WHO building blocks of the health system
                            (Service Delivery, Governance, Pharmaceuticals and Supply Chain, Health Information Systems, Financing,
                            Human Resources for Health). Communicable diseases, particularly, HIV/AIDS, Malaria and Tuberculosis are
                            constant challenges in developing health systems.
                            Maternal, neonatal and child health are other challenges of developing… </h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="http://127.0.0.1:8000/media/blog/images/Governance.jpg" class="d-block w-100" style="height: 460px;">
                    <div class="carousel-caption d-none d-md-block">
                        <h1><b>Governance</b></h1>
                        <h4>Our international development solutions include, among others, Governance solutions. The crucial interactions
                            between service providers, service-users, civil society, and regulators are carefully analyzed in order to
                            achieve the desired governance solutions in different developing country contexts. Customized training and
                            capacity building are integrated in all our solutions.
                            Our team of experts has experience in helping… </h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="http://127.0.0.1:8000/media/blog/images/finance.jpg" class="d-block w-100" style="height: 460px;">
                    <div class="carousel-caption d-none d-md-block">
                        <h1><b>Finance (Public and Private Sector)</b></h1>
                        <h4>Our team of experts has extensive experience in financial management capacity building at international,
                            national, and sub-national levels of international development. We have experience in building both public
                            sector and private sector financial systems in some of the most challenging developing countries, to deliver
                            measurable results.
                            Our capacity building goes beyond training, and into hands-on… </h4>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>



    <div class="container-fluid">
        <div class="" style="margin-top: 100px; margin-bottom: 70px; font-size: 20px;">
            Welcome to Endless Development Solutions Consulting (EDSC).
            <p>
                Founded in Maryland, USA, Endless Development Solutions Consulting (EDSC), has a team of experts,
                with extensive international development experience, that provide solutions for international development
                challenges.
            </p>
            <p>
                Areas of focus include, Health, Education, Finance (Public and Private sectors), Governance, Monitoring and
                Evaluation. Training and capacity building are in-built in all the above areas.
            </p>
            <p>
                The experience of our team extends to many international development partners including, USAID, The World
                Bank, PEPFAR, PMI, UK NHS, EU, Inter-American Development Bank, African Development Bank, WHO, and the
                Global Fund for HIV, Malaria and Tuberculosis, among others.
            </p>
        </div>
    </div>

    <!--about-->
    <section class="container-fluid" id="about" style="color: white; font-size: 20px;"></br></br>
        <h2> <b> <center>ABOUT US</center> </b> </h2></br>
        Founded in Maryland, USA, Endless Development Solutions Consulting (EDSC) has a team of experts, with extensive
        international development experience, that provides expert solutions for international development challenges.</br>
        Areas of focus include, Health, Education, Finance (Public and Private), Governance, Monitoring and Evaluation.
        Training and capacity building are in-built in all the above areas. We have developed expert capabilities in
        conceptualizing, facilitating, organizing and delivering high quality program and project design, program and project
        management, service delivery, monitoring and evaluation, for some of the most challenging developing country
        objectives.</br>
        The experience of our team extends to many international development partners including, USAID, The World Bank, PEPFAR,
        PMI, UK NHS, EU, Inter-American Development Bank, African Development Bank, WHO, and the Global Fund for HIV, Malaria
        and Tuberculosis, among others.</br></br></br></br>
    </section>
    <!--end about-->

    <!--mission-->
    <section class="container-fluid" id="mission" style="color: white; font-size: 20px;">
        </br></br>
        <h2> <b> <center>MISSION</center> </b> </h2></br>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <img src="http://127.0.0.1:8000/media/blog/images/solution.jpg" width="100%">
                </div>
                <div class="col-sm-4">
                    To design and provide the most appropriate, innovative, and sustainable development solutions to improve lives.
                </div>
            </div>
        </div>
        </br></br></br></br>
    </section>
    <!--end mission-->

    <!--values-->
    <section class="container-fluid" id="values" style="background-color: #0b5345; color: white; font-size: 20px;"></br></br>
        <h2> <b style="color:white"> <center>VALUES</center> </b> </h2></br></br>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <img src="http://127.0.0.1:8000/media/blog/images/values.jpg" width="100%">
                </div>
                <div class="col-sm-4">
                    Integrity; Innovation; Evidence-based; Results-focused.
                </div>
            </div>
        </div>
        </br></br></br></br>
    </section>
    <!--end values-->

    <!--contact-->
    <div class="container" id="contact" style="margin-bottom: 70px;"></br>
        <h2> <b style="color: #1f618d"> <center>CONTACT</center> </b> </h2></br>
        <p>Endless Development Solutions Consulting (EDSC),</p>
        <p>13404 Rippling Brook Drive, Silver Spring, MD, 20906, USA.</p></br>
        <p>Phone: +1 301-8711032</p>
        <p>Email: info@endless-development.com</p>
        <hr>
        {% if error %}
            <div class="alert alert-danger" role="alert" style="margin-top:20px; margin-bottom:20px;">
            {{ error }}
        </div>
        {% endif %}
        <form class="row">
            {% csrf_token %}
            <div class="col-sm-6">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" required style="border-color: #b03a2e">
            </div>
            <div class="col-sm-6">
                <label for="email" class="form-label">Your Email</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required style="border-color: #b03a2e">
            </div>
            <div class="mb-3">
                <label for="subject" class="form-label">Subject</label>
                <input type="text" name="subject" class="form-control" id="subject" aria-describedby="subjectHelp" required style="border-color: #b03a2e ">
            </div>
            <div class="mb-3">
                <label for="message">Your message</label>
                <textarea class="form-control" id="message" name="message" rows="3" style="border-color: #b03a2e "></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary" style="border-color: #b03a2e; color: #b03a2e;">Submit</button>
        </form>
    </div>
    <!--end contact-->

{% endblock %}